{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'catalog_films/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'catalog_films/images/logo.png' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<body>
<div class="container">

    <nav>
    <ul>
        <li>
            <a href="{% url 'main:index' %}">
            <img src="{% static 'catalog_films/images/logo.png' %}" width="15%" alt="Сайт о кино">
        </a>
        </li>
        <li class="nav-item"><a class="nav-link" href="{% url 'main:about_site' %}">О сайте</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'main:add_film' %}">Добавить фильм</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Войти</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Панель администратора</a></li>
    </ul>
</nav>

{% block content %}
{% endblock %}

</div>
</body>
</html>
